<div class="container">
  <h2 class="main-title">Control de Inventario de Productos</h2>

  <!-- Contenedor con borde para el formulario -->
  <div class="form-container">
    <h3 class="section-title">Agregar Producto</h3>
    <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
      <div class="mb-4">
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="nombre" />
      </div>

      <div class="mb-4">
        <label for="cantidad">Cantidad:</label>
        <input type="number" formControlName="cantidad" />
      </div>

      <div class="mb-4">
        <label for="precio">Precio:</label>
        <input type="number" formControlName="precio" />
      </div>

      <div class="text-center">
        <button type="submit" [disabled]="productoForm.invalid">Agregar Producto</button>
      </div>
    </form>
  </div>

  <!-- Contenedor para la tabla -->
  <div class="table-container">
    <h3 class="section-title">Lista de Productos</h3>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of productos; track $index) {
          <tr>
            <td>{{ item.producto }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precio }}</td>
            <td>
              <button (click)="eliminarProducto(item.id)">Eliminar</button>
            </td>
          </tr>
        }
        
      </tbody>
    </table>
  </div>
</div>
