<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 header-container">
    <div class="col-md-3 mb-2 mb-md-0 d-flex align-items-center">
      <i class="fa-solid fa-ticket fs-3"></i>
      <h1 class="title ms-3">{{ title }}</h1>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-list d-flex">
      <!-- Usando la sintaxis de Angular con *ngIf para controlar la visibilidad -->
       @if (rol === 'ADMINISTRADOR' || rol === 'CLIENTE') {
        <li class="nav-item">
          <a routerLink="/login" class="nav-link text-decoration-underline link-secondary me-3">Login</a>
        </li>
       }
       @if (rol === 'CLIENTE') {
        <li class="nav-item">
          <a routerLink="/catalogo" class="nav-link text-decoration-underline link-secondary">Catálogo</a>
        </li>
       }
       
       @if (rol === 'CLIENTE') {
        <li class="nav-item">
          <a routerLink="/historial" class="nav-link text-decoration-underline link-secondary me-3">Historial</a>
        </li>
       }
       @if (rol === 'CLIENTE') {
        <li class="nav-item">
          <a routerLink="/reserva-cita" class="nav-link text-decoration-underline link-secondary">Reservar Cita</a>
        </li>
       }


       @if (rol === 'ADMINISTRADOR') {
        <li class="nav-item">
          <a routerLink="/vista-citas" class="nav-link text-decoration-underline link-secondary">Ver Citas</a>
        </li>
       }
       @if (rol === 'ADMINISTRADOR') {
        <li class="nav-item">
          <a routerLink="/registro-cliente" class="nav-link text-decoration-underline link-secondary">Registro</a>
        </li>
       }
       @if (rol === 'ADMINISTRADOR') {
        <li class="nav-item">
          <a routerLink="/catalogo" class="nav-link text-decoration-underline link-secondary">Catálogo</a>
        </li>
       }
       @if (rol === 'ADMINISTRADOR') {
        <li class="nav-item">
          <a routerLink="/inventario" class="nav-link text-decoration-underline link-secondary">Inventario</a>
        </li>
       }
       @if (rol === 'ADMINISTRADOR') {
        <li class="nav-item">
          <a routerLink="/empleados" class="nav-link text-decoration-underline link-secondary">Empleados</a>
        </li>
       }
       @if (rol === 'ADMINISTRADOR') {
        <li class="nav-item">
          <a routerLink="/reportes" class="nav-link text-decoration-underline link-secondary">Reportes</a>
        </li>
       }
       
    </ul>
  </header>
</div>
