<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-3 header-container">
      <div class="col-md-3 mb-2 mb-md-0 d-flex align-items-center">
          <i class="fa-solid fa-ticket fs-3"></i>
          <h1 class="title ms-3">{{title}}</h1> <!-- Aquí se eliminó el enlace -->
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-list">
          <li><a routerLink="/Inicio" class="nav-link px-2 link-secondary">Inicio</a></li>
          <li><a routerLink="/login" class="nav-link text-decoration-underline link-secondary me-3">Login</a></li>
          <li><a routerLink="/registro" class="nav-link text-decoration-underline link-secondary">Registro</a></li>
          <li><a routerLink="/reserva-cita" class="nav-link text-decoration-underline link-secondary">Reservar Cita</a></li>
          <li><a routerLink="/vista-citas" class="nav-link text-decoration-underline link-secondary">Ver Citas</a></li>
          <li><a routerLink="/editar-cita" class="nav-link text-decoration-underline link-secondary">Editar Cita</a></li>

      </ul>
  </header>
</div>
